/* CSS file to round images in JavaFX */

/* Apply rounded styles to all images */
.imageView {
    -fx-shape: "M 0,0 L 0,100 A 50,50 0 0,1 100,100 L 100,0 A 50,50 0 0,1 0,0 Z";
    -fx-background-radius: 50%;
    -fx-clip-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: black;
    -fx-border-width: 2;
}

/* Specific class for ImageViews with fx:id imgBestSelling1 */
#imgBestSelling1 {
    -fx-shape: "M 0,0 L 0,100 A 50,50 0 0,1 100,100 L 100,0 A 50,50 0 0,1 0,0 Z";
    -fx-background-radius: 50%;
    -fx-clip-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

/* Specific class for ImageViews with fx:id imgBestSelling2 */
#imgBestSelling2 {
    -fx-shape: "M 0,0 L 0,100 A 50,50 0 0,1 100,100 L 100,0 A 50,50 0 0,1 0,0 Z";
    -fx-background-radius: 50%;
    -fx-clip-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

/* Specific class for ImageViews with fx:id imgBestSelling3 */
#imgBestSelling3 {
    -fx-shape: "M 0,0 L 0,100 A 50,50 0 0,1 100,100 L 100,0 A 50,50 0 0,1 0,0 Z";
    -fx-background-radius: 50%;
    -fx-clip-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}

.rectangle {
    -fx-fill: rgba(255, 255, 255, 0.504); /* Glass effect with transparency */
    -fx-arc-width: 25px; /* Rounded corners */
    -fx-arc-height: 25px;
    -fx-stroke: rgba(255, 255, 255, 0.3); /* Subtle border */
    -fx-stroke-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 246, 246, 0.5), 15, 0.2, 0, 5); /* Shadow effect */
}

.stacked-area-chart .chart-title {
    -fx-text-fill: ivory; /* Match the background */
    -fx-font-weight: bold; /* Bold title */
}

.stacked-area-chart .axis-label,  
.stacked-area-chart .chart-legend-item {
    -fx-text-fill: ivory; /* Matching label color */
}

.rectangle-1 {
    -fx-fill: rgb(255, 255, 255); /* Glass effect with transparency */
    -fx-arc-width: 25px; /* Rounded corners */
    -fx-arc-height: 25px;
    -fx-stroke: rgba(255, 255, 255, 0.3); /* Subtle border */
    -fx-stroke-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 246, 246, 0.5), 15, 0.2, 0, 5); /* Shadow effect */
}