.rectangle {
    -fx-fill: rgba(255, 255, 255, 0.504); /* Glass effect with transparency */
    -fx-arc-width: 25px; /* Rounded corners */
    -fx-arc-height: 25px;
    -fx-stroke: rgba(255, 255, 255, 0.3); /* Subtle border */
    -fx-stroke-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 246, 246, 0.5), 15, 0.2, 0, 5); /* Shadow effect */
}

.stacked-area-chart .chart-title {
    -fx-text-fill: ivory; /* Match the background */
    -fx-font-weight: bold; /* Bold title */
}

.stacked-area-chart .axis-label,  
.stacked-area-chart .chart-legend-item {
    -fx-text-fill: ivory; /* Matching label color */
}

.rectangle-1 {
    -fx-fill: rgb(255, 255, 255); /* Glass effect with transparency */
    -fx-arc-width: 25px; /* Rounded corners */
    -fx-arc-height: 25px;
    -fx-stroke: rgba(255, 255, 255, 0.3); /* Subtle border */
    -fx-stroke-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 246, 246, 0.5), 15, 0.2, 0, 5); /* Shadow effect */
}

.mainTab {
    -fx-background-color:  #1A1A1A;
}

.mainTab-tab {
    -fx-background-color: #5c9b4c;
    -fx-padding: 8px 12px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.mainTab-tab:hover {
    -fx-background-color:rgb(100, 171, 76);
}

.mainTab-tab:selected {
    -fx-background-color: #1A1A1A;
    -fx-border-color: #5c9b4c;
    /*-fx-border-width: 0 0 3px 0;*/
}

.mainTab-tab .mainTab-tab-label {
    -fx-text-fill: #5b7355;
}

.mainTab-tab:selected .mainTab-tab-label {
    -fx-text-fill: white;
}


.mainTab-tab-header-background {
    -fx-background-color: #272727;
}

.CrudTab{
      -fx-fill: rgb(255, 255, 255); /* Glass effect with transparency */
    -fx-arc-width: 25px; /* Rounded corners */
    -fx-arc-height: 25px;
    -fx-stroke: rgba(255, 255, 255, 0.3); /* Subtle border */
    -fx-stroke-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(255, 246, 246, 0.5), 15, 0.2, 0, 5); /* Shadow effect */
}